#root {
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.team{
  border: 1px solid green;
  background: #00ce3e;
  border-radius: 12px;
  padding: 15px;
}

.users{
  margin-bottom: 50px;
  border: 1px solid green;
  background: #6b37fc;
  border-radius: 12px;
  padding: 15px;
}
.friends{
  margin-bottom: 50px;
  border: 1px solid green;
  background: #0004ff;
  border-radius: 12px;
  padding: 15px;
}



.post{
  margin-bottom: 50px;
  color: rgb(39, 39, 39);
  border: 1px solid green;
  background: #fdfdfd;
  border-radius: 12px;
  padding: 15px;
}
